<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IsSoftDelete" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="Maindb" connectionString="Server=47.98.165.180;Initial Catalog=FeatherSQL;User ID=fly;Password=554500335."/>
  </connectionStrings>
</configuration>